<form [formGroup]="orderForm" (ngSubmit)="onSubmit()" class="add-order-form" *ngIf="!errorMessage">
  <mat-form-field appearance="fill">
    <mat-label>Order ID</mat-label>
    <input matInput formControlName="id" type="text" />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Buyer Name</mat-label>
    <input matInput formControlName="buyerName" type="text" />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Delivery Address</mat-label>
    <textarea matInput formControlName="buyerDeliveryAddress"></textarea>
  </mat-form-field>

  <app-configured-sculpture-form formControlName="configuredSculpture" [configuredSculptures]="configuredSculptures"
    (newConfiguredSculptureEvent)="addConfiguredSculpture($event)"
    (removeConfiguredSculptureEvent)="removeConfiguredSculpture($event)"></app-configured-sculpture-form>
    <mat-error *ngIf="exceededWeightError">
      {{ exceededWeightError }}
    </mat-error>

  <button mat-raised-button color="accent" type="submit" [disabled]="!orderForm.valid">Send Order</button>
</form>

<div class="add-order-error" *ngIf="!!errorMessage">
  <mat-error>{{ errorMessage }}</mat-error>
  <a routerLink="orders">Back to orders</a>
</div>
