.orders-container {
  padding: 1rem 2rem;

  .orders-list {
    padding: 0;

    .order-item {
      width: 400px;
      margin-bottom: 1rem;
      list-style-type: none;

      .order-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1.25rem;

        a {
          margin-right: 2rem;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
        }
      }
    }
  }

  .add-order-btn {
    margin-top: 2rem;
  }
}
