<div class="orders-container">
  <ul class="orders-list">
    <li *ngFor="let order of orders$ | async" class="order-item">
      <mat-card>
        <mat-card-content>
          <div class="order-content">
            <a routerLink="./1">{{ order.id }}</a>
            <button mat-mini-fab color="warn" aria-label="Delete order" (click)="deleteOrder(order)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </mat-card-content>
      </mat-card>
    </li>
  </ul>

  <button mat-raised-button color="primary" class="add-order-btn" routerLink="./add">
    Add new order
  </button>
</div>
