<form (ngSubmit)="onSubmit(sculptureControl.value, materialControl.value)">
  <div class="sculpture-dropdown">
    <mat-form-field appearance="fill">
      <mat-label>Sculpture</mat-label>
      <mat-select [formControl]="sculptureControl">
        <mat-option *ngFor="let sculpture of sculptures$ | async" [value]="sculpture">
          {{ sculpture.id }} - {{ sculpture.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="material-dropdown">
    <mat-form-field appearance="fill">
      <mat-label>Material</mat-label>
      <mat-select [formControl]="materialControl">
        <mat-option *ngFor="let material of materials" [value]="material">
          {{ material.toString() }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <button mat-stroked-button color="primary" type="submit"
    [disabled]="!(sculptureControl.value && materialControl.value)">Add Sculpture</button>

  <div class="configured-sculptures-container">
    <mat-chip-row *ngFor="let configuredSculpture of configuredSculptures"
      (removed)="removeConfiguredSculpture(configuredSculpture)" [editable]="true"
      [aria-description]="'press enter to edit ' + configuredSculpture.sculpture.name">
      {{configuredSculpture.sculpture.name}} - {{configuredSculpture.material}}
      <button matChipRemove [attr.aria-label]="'remove ' + configuredSculpture.sculpture.name">
        <mat-icon>cancel</mat-icon>
      </button>
    </mat-chip-row>
  </div>
</form>
