@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

a {
  color: #0060B6;
  text-decoration: none;
}

a:hover {
  color:#00A0C6;
  text-decoration:none;
  cursor:pointer;
}
